<div class="container">
    <div>
        <button mat-raised-button><a routerLink="/home/faculty">Home</a></button>
        <button mat-raised-button><a routerLink="/aboutus">About Us</a></button>
        <button mat-raised-button><a routerLink="/contact">Contact</a></button>
        <button mat-raised-button><a routerLink="/login">Login</a></button>
        <button mat-raised-button><a routerLink="/fdafs">Random</a></button>
        <button mat-raised-button><a routerLink="/register">Register New</a></button>
    </div>
</div>