<div class="container">
    <div class="baby">
        <p>Login Here </p>        
        <form >
            <div >
                <label for="email">Email: &nbsp;&nbsp;</label>
                <mat-form-field>
                    <input matInput type="email" id="email" [(ngModel)]="email" name = "email">
                </mat-form-field>
            </div>
            <div>
                <label for="password">Password: &nbsp;&nbsp;</label>
                <mat-form-field>
                    <input matInput id="password" type="password" [(ngModel)]='password' name='password' placeholder="Password">
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary" type="submit" (click)= "loginValid()">Submit</button>
        </form>
    </div>
</div>